<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field target-date">
    <%= f.label :date, 'Target Date' %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= label_tag :no_date %>
    <%= check_box_tag :no_date %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Save goal', class: 'btn btn-primary' %>
  </div>
<% end %>
