<%- model_class = Education -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:school) %>:</strong></dt>
  <dd><%= @education.school %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_year) %>:</strong></dt>
  <dd><%= @education.startyear %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_year) %>:</strong></dt>
  <dd><%= @education.endyear %></dd>
  <dt><strong><%= model_class.human_attribute_name(:degree) %>:</strong></dt>
  <dd><%= @education.degree %></dd>
  <dt><strong><%= model_class.human_attribute_name(:field_of_study) %>:</strong></dt>
  <dd><%= @education.fof %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grade) %>:</strong></dt>
  <dd><%= @education.grade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:activities) %>:</strong></dt>
  <dd><%= @education.actandsoc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @education.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @education.user_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              educations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_education_path(@education), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              education_path(@education),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
